
{% extends "base.html" %}

{% block content %}


 <div class="container">
    <h2>About The Soul Talk</h2>
    <p>The Soultalk is a 5 years old literary platform founded by Ashish Dwivedi an Author and Literature lover in 2018 . We do events all over India in different cities , till now we have done more than 500 plus events including online and offline , connected over 20K plus creators of more than 50 cities of India. 
        Our vision is to promote art and literature through various ways like organising poetry competition , poetry event and celebrating writing of various legendary poets.
        Our mission  is to provide literature platform to each and every human being on this earth who wants to express and want to do something amazing in field of writing. 
        
        If you are a writer and looking for a platform or any kind of support we are here to help you</p>
    
    <h2>Our Vision</h2>
    <p>Our vision is to promote art and literature through a range of activities. We organize poetry competitions, poetry events, and celebrate the works of legendary poets, contributing to the growth of literature.</p>
    
    <h2>Our Mission</h2>
    <p>Our mission is to provide a literature platform to every individual who wishes to express themselves and excel in the field of writing. We aim to support writers and creators in their journey of artistic expression.</p>
    
    <p>If you are a writer seeking a platform or support, we are here to help you on your creative journey.</p>
    
    <p>Contact us at thesoultalk9@gmail.com for more information.</p>
</div>

{% endblock %}