
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4">About The Soul Talk</h2>
                    <p class="card-text">The Soultalk is a 5 years old literary platform founded by Ashish Dwivedi, an author and literature lover, in 2018. We do events all over India in different cities. Till now, we have done more than 500 events, both online and offline, and connected over 20K creators from more than 50 cities in India.</p>
                    <p class="card-text">Our vision is to promote art and literature through various means such as organizing poetry competitions, poetry events, and celebrating the works of legendary poets. Our mission is to provide a literature platform to every human being who wants to express themselves and achieve something amazing in the field of writing.</p>
                    <p class="card-text">If you are a writer and looking for a platform or any kind of support, we are here to help you.</p>

                    <div class="mt-5">
                        <h2 class="text-center mb-4">Our Vision</h2>
                        <p class="card-text">Our vision is to promote art and literature through a range of activities. We organize poetry competitions, poetry events, and celebrate the works of legendary poets, contributing to the growth of literature.</p>
                    </div>

                    <div class="mt-5">
                        <h2 class="text-center mb-4">Our Mission</h2>
                        <p class="card-text">Our mission is to provide a literature platform to every individual who wishes to express themselves and excel in the field of writing. We aim to support writers and creators in their journey of artistic expression.</p>
                    </div>

                    <p class="card-text mt-5">If you are a writer seeking a platform or support, we are here to help you on your creative journey.</p>
                    <p class="card-text text-center">Contact us at <a href="mailto:thesoultalk9@gmail.com">thesoultalk9@gmail.com</a> for more information.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
