{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">श्रेणी बनाएं</h2>
            <form method="post" class="border p-4 rounded text-center bg-white">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name_en" class="form-label">English Name:</label>
                    <br>
                    {{ form.name_en }}
                </div>
                <div class="mb-3">
                    <label for="id_name_hi" class="form-label">Hindi Name:</label>
                    <br>
                    {{ form.name_hi }}
                </div>
                <button type="submit" class="btn btn-custom-outline">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


