{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">रचना लिखें</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_title" class="form-label">Title:</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            <label for="id_category" class="form-label">Category:</label>
                            {{ form.category }}
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-custom-outline">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
