{% extends 'base.html' %}

{% block content %}

<section class="vh-150 mb-4 mt-4">
    <div class="container mb-4">
        <div class="row d-flex justify-content-center align-items-center mb-5">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center update-profile">

                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
                                <div class="form-outline flex-fill mb-0 mr-2">


                                </div>
                                <h2 class="text-center mb-4">रचना लिखें</h2>

                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="id_title" class="form-label">Title:</label>
                                        {{ form.title }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_description" class="form-label">Description:</label>
                                        {{ form.description }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="id_category" class="form-label">Category:</label>
                                        {{ form.category }}
                                    </div>
                                    <div class="mb-3 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-custom-outline">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}