{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Edit Carousel Item</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                        </div>
                        <div class="mb-3">
                            {{ form.url.label_tag }}
                            {{ form.url }}
                        </div>
                        <button type="submit" class="btn btn-custom-outline ">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
