{% extends "base.html" %}



{% block content %}



    <div class="container">
        <h1>Welcome to The Soul Talk</h1>
        <p><em>A Literary Platform for Ghazal, Shayari, Kavita, Geet, Kahani, and More</em></p>
        
        <h2>Privacy Policy</h2>
        <p>At The Soul Talk (“we” or “us”), we are committed to protecting your privacy and keeping your information safe. This Privacy Policy explains how we collect, use, disclose, and keep information that can identify you (“Personal Information”) when you use our platform.</p>
        
        <p>Note that our Terms of Service apply to this Privacy Policy. By using our platform, you consent to the collection, use, and disclosure of your Personal Information as described below. If you do not consent to these practices, please stop using our services.</p>
        
        <p>This is important; we hope you will take time to read it carefully.</p>
        
        <h3>What is Personal Information?</h3>
        <p>"Personal Information" is any information that can identify you. This may include your name, address, email, IP address, and more.</p>
        
        <h3>What do we collect and Why do we use it?</h3>
        <p>If you're just browsing our site, we don’t collect Personal Information about you. To create an account and use our Services, we need to collect and process some Personal Information. Depending on your use of the Services, that may include:</p>
        
        <ul>
            <li>Information that is necessary for the use of our Services, such as your username, email address, date of birth, and password.</li>
            <li>Information you choose to give us, such as your real name, social media details, and location.</li>
            <li>Information we automatically collect from your use of our Services, including IP address, cookie data, device information, browser type, operating system, pages visited, and actions performed.</li>
        </ul>
        
        <p>We use this Personal Information to:</p>
        
        <ul>
            <li>Create and provide you with our Services</li>
            <li>Identify you across the Services</li>
            <li>Personalize your experience</li>
            <li>Communicate with you</li>
            <li>Measure your use and satisfaction</li>
            <li>Investigate and prevent issues and illegal activity</li>
            <li>Display relevant advertisements</li>
        </ul>
        
        <p>We treat the personal information above as private by default and won't reveal it to others unless it's anonymized.</p>
        
        <p>If you have any questions or concerns, feel free to contact us at admin@thesoultalk.com</p>
        
        <p>Please read the full privacy policy for a complete understanding of our practices.</p>
    </div>

    {% endblock %}