{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-body ">
                    <div class="row ">
                        <div class="col-md-4 text-center">
                            <img src="{% if profile.profile_image %}{{ profile.profile_image.url }}{% else %}/media/profile_images/default.png{% endif %}"
                                alt="Profile Image" class="profile-image img-fluid">
                        </div>
                        <div class="col-md-8 md-4">
                            <div class="d-flex justify-content-between align-items-start flex-wrap">
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                    <div>
                                        <p class="card-text"><i class="fas fa-user"></i> {{ profile.name }}</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ profile.place }}</p>
                                    </div>
                                   
                                </div>
                                <div>
                                    <p class="card-text"><i class="fas fa-pen"></i> {{ profile.bio }}</p>
                                     <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                        <div>
                                            <p class="small text-muted mb-1">Posts</p>
                                            <p class="mb-0">{{ total_posts }}</p>
                                        </div>
                                        <div class="px-3">
                                            <p class="small text-muted mb-1">Followers</p>
                                            <p class="mb-0">{{ user.followers_count }}</p>
                                        </div>
                                        <div>
                                            <p class="small text-muted mb-1">Following</p>
                                            <p class="mb-0">{{ user.following_count }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row">
                                    <a class="btn-custom-outline" href="{% url 'create-post' %}"> <i
                                            class="fas fa-pen-fancy"></i> लिखें</a>
                                    <a href="{% url 'edit-profile' %}" class="btn-custom-outline "><i
                                            class="fas fa-user-edit"></i></a>
                                    <a href="{% url 'change-password' %}" class="btn-custom-outline "><i
                                            class="fas fa-key"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="btn-group col-12" role="group">
                <button type="button" class="btn btn-custom-outline" onclick="showPosts('approved')">स्वीकृत
                    ({{ total_approved_posts }})</button>
                <button type="button" class="btn btn-custom-outline" onclick="showPosts('pending')">लंबित
                    ({{ total_pending_posts }})</button>
                <button type="button" class="btn btn-custom-outline" onclick="showPosts('declined')">अस्वीकृत
                    ({{ total_declined_posts }}) </button>
                <button type="button" class="btn btn-custom-outline" onclick="showPosts('entries')">प्रतियोगिता पोस्ट
                    ({{ total_user_submitted_entries }})</button>

            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row justify-content-center" id="approved-posts">
                <div class="col-md-12">
                    <h2>स्वीकृत पोस्ट</h2>
                    {% if total_approved_posts == 0 %}
                    <p>कोई स्वीकृत पोस्ट नहीं.</p>
                    {% else %}
                    {% for post in approved_posts %}
                    {% include 'partials/post_details.html' %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center" id="pending-posts" style="display:none;">
                <div class="col-md-12">
                    <h2>लंबित पोस्ट</h2>
                    <ul>
                        {% if total_pending_posts == 0 %}
                        <p>कोई लंबित पोस्ट नहीं.</p>
                        {% else %}
                        {% for post in pending_posts %}
                        {% include 'partials/post_details.html' %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="row justify-content-center" id="declined-posts" style="display:none;">
                <div class="col-md-12">
                    <h2>अस्वीकृत पोस्ट </h2>
                    <ul>
                        {% if total_declined_posts == 0 %}
                        <p class="no-messages">कोई अस्वीकृत पोस्ट नहीं.</p>
                        {% else %}
                        {% for post in declined_posts %}
                        {% include 'partials/post_details.html' %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="row justify-content-center" id="submitted-entries" style="display:none;">
                <div class="col-md-12">
                    <h2>प्रतियोगिता पोस्ट</h2>
                    {% if user_submitted_entries %}
                    {% for entry in user_submitted_entries %}
                    {% include 'partials/competition_post.html' %}
                    {% endfor %}
                   
                    {% else %}
                    <p>कोई प्रतियोगिता पोस्ट नहीं.</p>
                    {% endif %}
                    

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showPosts(category) {
        document.getElementById('approved-posts').style.display = 'none';
        document.getElementById('pending-posts').style.display = 'none';
        document.getElementById('declined-posts').style.display = 'none';
        document.getElementById('submitted-entries').style.display = 'none';

        if (category === 'approved') {
            document.getElementById('approved-posts').style.display = 'block';
        } else if (category === 'pending') {
            document.getElementById('pending-posts').style.display = 'block';
        } else if (category === 'declined') {
            document.getElementById('declined-posts').style.display = 'block';
        } else if (category === 'entries') {
            document.getElementById('submitted-entries').style.display = 'block';
        }

    }
</script>



{% endblock %}