{% extends 'base.html' %}

{% block content %}
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-8">
            <div class="card" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <h2 class="text-center mb-5">Set Your Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                            <input type="password" name="new_password1" class="form-control" id="{{ form.new_password1.id_for_label }}">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                            <input type="password" name="new_password2" class="form-control" id="{{ form.new_password2.id_for_label }}">
                        </div>
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-dark btn-lg">Set Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
