{% extends "base.html" %}



{% block content %}

   


    <div class="container">
        <h1>Welcome to The Soul Talk</h1>
        <p><em>A Literary Platform for Ghazal, Shayari, Kavita, Geet, Kahani, and More</em></p>
        
        <h2>Terms of Service</h2>
        <p>These terms of service ("Terms of Service") are a contract between you and The Soul Talk. By using our platform, you agree to the following terms:</p>
        
        <h3>You Need to be 13</h3>
        <p>The Soul Talk services are for individuals aged 13 and above. Accounts of users under 13 will be terminated.</p>
        
        <h3>You Need an Account</h3>
        <p>To fully access and use The Soul Talk platform, you need to create an account with a unique username and password. You're responsible for all activity on your account and should keep your password confidential.</p>
        
        <h3>Your Content is Yours</h3>
        <p>Before posting content on The Soul Talk, ensure it complies with our Content Guidelines. You own the rights to the content you create and post, but you grant us a nonexclusive license to display and distribute your content on the platform.</p>
        
        <h3>Our Rights in the Services</h3>
        <p>We reserve the right to change, terminate, or restrict access to any aspect of the platform. We may remove content and access information as needed to protect the services and users.</p>
        
        <h3>Advertising and Content Promotion</h3>
        <p>The Soul Talk may display advertisements on the platform to support its free services. Your content may be used to promote the platform, but we will never sell your content to third parties without your permission.</p>
        
        <h3>Additional Terms and Agreements</h3>
        <p>In some cases, you may enter additional terms and agreements that override these Terms of Service, such as contests or special programs.</p>
        
        <h3>Contact Us</h3>
        <p>If you have questions or concerns, you can contact us at thesoultalk9@gmail.com .</p>
        
        <p>Please read the full terms of service for a complete understanding of our policies.</p>
    </div>

{% endblock %}
