{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">All Users</h2>
    <div class="row justify-content-center">
        {% for user in users %}
        <div class="col-md-6">
            <div class="card custom-card shadow mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <p class="card-text">Name: {{ user.get_full_name }}</p>
                    <p class="card-text">Phone Number: {{ user.phone_no }}</p>
                    <div class="d-flex flex-row">
                    <a href="{% url 'delete_user' user.id %}" class="btn btn-custom-outline btn-sm">Delete</a>

                    {% if request.user != user %}
                    {% if not user.is_admin %}
                    <form method="post" action="{% url 'promote_to_admin' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-custom-outline btn-sm">Promote to Admin</button>
                    </form>
                    {% else %}
                    <form method="post" action="{% url 'demote_to_user' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-custom-outline btn-sm">Demote to User</button>
                    </form>
                    {% endif %}
                    
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

