<footer class="text-center text-lg-start text-white" style="background-color:#5AB7D7 ; margin-top:400px;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center align-items-center p-4" style="background-color: #04A3E6">
        <!-- Right -->
        <div>
            <a href="https://www.facebook.com/SoulTalk77?mibextid=ZbWKwL" class="text-white me-4" target="_blank">
                <i class="fab fa-facebook fa-lg"></i>
            </a>
            <a href="https://twitter.com/the_soultalk?t=HNmgKRrm5OjTEaWJukilDQ&s=09" class="text-white me-4"
                target="_blank">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/the_soultalk/?hl=en" class="text-white me-4" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="https://wa.me/message/DHSCQCURNCTDA1" class="text-white me-4" target="_blank">
                <i class="fab fa-whatsapp fa-lg"></i>
            </a>

            </a>
            <a href="https://youtube.com/@thesoultalk6602" class="text-white me-4" target="_blank">
                <i class="fab fa-youtube fa-lg"></i>
            </a>
        </div>
        <!-- Right -->
    </section>

    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold" style="color: #ffc107">हमारे बारे में</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p style="color: #fff">
                        द सोलटॉक , साहित्य को समर्पित एक संस्था है जो भाषा और साहित्य के प्रचार प्रसार के लिए पिछले 5
                        साल से काम कर रही है , 50 से ज़्यादा शहरों के 20000 से ज़्यादा कलाकार हमारे साथ जुड़े हुए हैं ,
                        हमारी कोशिश है कि ज़्यादा से ज़्यादा लोग साहित्य से जुड़े !
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold" style="color: #ffc107">हमारे अन्य प्लेटफार्म</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p style="color: #fff">
                        <a href="https://thequotestore.in/" class="text-white" target="__blank__">The Quote Store</a>
                    </p>
                    <p style="color: #fff">
                        <a href="https://play.google.com/store/apps/details?id=co.diy.ubdfe" class="text-white"
                            target="__blank__">The Mentor App</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold" style="color: #ffc107">उपयोगी लिंक्स</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p style="color: #fff">
                        <a href="{% url 'aboutus' %}" class="text-white">हमारे बारे में</a>
                    </p>
                    <p style="color: #fff">
                        <a href="{% url 'termsandconditions' %}" class="text-white">नियम व शर्तें</a>
                    </p>
                    <p style="color: #fff">
                        <a href="{% url 'privacy' %}" class="text-white">
                            प्राइवेसी पॉलिसी</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold" style="color: #ffc107">संपर्क करें</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p style="color: #fff"><i class="fas fa-home mr-3"></i> C 3703 , KBN LION apartment Sundarpur
                        Varanasi</p>
                    <p style="color: #fff"><i class="fas fa-envelope mr-3"></i> thesoultalk9@gmail.com</p>
                    <p style="color: #fff"><i class="fas fa-phone mr-3"></i> +91 89579 20399</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); position: relative;">
        © 2024 The Soul Talk | All rights reserved
        <i class=" fas fa-solid fa-laptop-code" style="margin-left:4px;"></i>
        <a class="developed-by" href="https://www.linkedin.com/in/rishabhsaini04/"
            style="text-decoration: none; color: white;" target="_blank">  Rishabh Saini </a>
    </div>



    <!-- Copyright -->
</footer>